h2
{
  font-family: century;
  text-transform: lowercase;
font-size:18px;
color:#800080;
}

table, th, td
{
border: 1px solid black;
font-family:Georgia;
font-size:1em;

}

tab
{
margin-left:1cm;
}

code
{
font-weight:bold;
font-family: Consolas;
font-size:110%;
}
w
{
size:40px;
}

body {
color : #343434;
font-family : verdana ,"Trebuchet MS",Arial, georgia;
font-size : 0.8em;
text-align : justify;
margin : 0;
padding : 0 0 0;
background: #ddddd1 url("bg.png") repeat-x;

}



a {
color : #343434;
text-decoration : none;
}
a:visited {
color : #343434;
text-decoration : none;
}
a:hover {
color : #2d5598;
text-decoration : none;
}
#container {
margin : auto;
margin-top : 0;
width : 1000px;
background-repeat : repeat-x;
}

b {
  color: #343434;
}

#size {
height: 200px;
width: 200px;
}

#content {
position: absolute;
left: 382px;
top: 448px;
padding : 5px 10px 10px 12px;
width : 730px;
color : #444444;
background: #f0f0e8;
text-align : justify;
}
#content h1, #content .commentformtitle {
  color: #d4d5f6;
  font-family: century;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  background: #5759b2;
  border-bottom: 2px solid #aaaaaa;
  padding:5px;
  margin:20px 2px 7px 1px;
}

Textarea {
text-align : left;
color : #353535;
font-family : arial;
font-size : 13px;
padding : 5px;
width : 340px;
border : #dfc6b3 solid 1px;
background : #ecddd2;
}
Input {
margin : 2px;
padding : 2px;
border : #dfc6b3 solid 1px;
background : #ecddd2;
font-size : 80%;
border-radius : 5px;
}

hr {
  border: 0;
  color: #DADADA;
  background-color: #DADADA;
  height: 2px;
}


blockquote {
 background-color: #EFEFEF;
 padding: 5px;
 border: 1px solid #D3D3D3;
 margin: 0px;
 }

#header {
width : 1000px;
height : 600px;
background : url("header.png") no-repeat;
margin-top : 0;
position : relative;
}

#headerimg2 {
list-style : none;
margin : 0;
position : absolute;
height : 270px;
width : 250px;
top : 448px;
text-align : left;
font-size : 80%;
background : none;
opacity:0.9;
}

#nav {
list-style : none;
margin : 0;
position : absolute;
left : -40px;
right : 0;
bottom : 200px;
border : #000 solid 0;
}
#nav li {
float : left;
margin-left : 0;
display : block;
width : 100px;
}
.list_container ul {
margin-left : 0;
padding-left : 0;
list-style-type : none;
font-size : 14px;
line-height : 10px;
font-family : Arial;
}

.imageedit{
margin-right: 7px;
}

.imagegallery{
border: 2px solid #ffffff;
border-radius: 8px;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.imagegallery:hover{
border: 2px solid #ffffff;
border-radius: 8px;
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
#menuaffi a, #menuaffi a:visited {
text-align : center;
font-size : 9pt;
font-family:arial;
letter-spacing:3px;
border-bottom : 1px solid #dadada;
background-color:#bdc0d5;
color : #bdc0d5;
display: block;
width : 150px;
height : 20px;
padding :30px;
text-transform: uppercase;
margin : 20px auto;
}


#menuaffi a:hover {
text-align : center;
font-size : 9pt;
letter-spacing:3px;
border-bottom : 1px solid #dadada;
background-color:#5759b2;
color : #bdc0d5;
display:block;
width : 200px;
height : 20px;
padding : 0.5em;
margin : 20px auto;

padding :30px;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
