
body {
color : #343434;
font-family : verdana ,"Trebuchet MS",Arial, georgia;
font-size : 0.8em;
text-align : justify;
margin : 0;
padding : 0 0 0;
background-image: url("bg.png");
background-repeat: repeat-y;
 background-attachment: fixed;

}


a {
color : #343434;
text-decoration : none;
}
a:visited {
color : #343434;
text-decoration : none;
}
a:hover {
color : #2d5598;
text-decoration : none;
}
#container {
margin : auto;
margin-top : 0;
width : 1000px;
background-repeat : repeat-x;
}

b {
  color: #393939;
}

#size {
height: 200px;
width: 200px;
}

#content {
font-size:14px;
position: absolute;
left:50px;
top: 80px;
padding : 0px 20px 20px 20px;
width : 700px;
color : #000000;
background: #f0f0f0;
text-align : justify;
opacity: 0.7;

}
#content h1, #content .commentformtitle {
  color: #dde3e3;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  font: bold 15px/26px arial;
  background: #000000;
  padding:4px;
  letter-spacing: 5px;
  margin:15px 2px 7px 1px;
}

Textarea {
text-align : left;
color : #353535;
font-family : arial;
font-size : 13px;
padding : 5px;
width : 340px;
border : #dfc6b3 solid 1px;
background : #ecddd2;
}
Input {
margin : 2px;
padding : 2px;
border : #dfc6b3 solid 1px;
background : #ecddd2;
font-size : 80%;
border-radius : 5px;
}

hr {
  border: 0;
  color: #DADADA;
  background-color: #DADADA;
  height: 2px;
}


blockquote {
 background-color: #EFEFEF;
 padding: 5px;
 border: 1px solid #D3D3D3;
 margin: 0px;
 }

#header {
width : 800px;
height : 600px;
background : url("header.png") no-repeat;
margin-top : 0;
position:absolute;
left:200px;
}

#headerimg6 {
list-style : none;
position: absolute;
left: 0px;
width : 700px;
height: 44px;
top : 0px;
text-align : center;
font-size : 80%;
color : #b9b9b9;
}

#menuu {
position:absolute;
width : 500px;
margin : 0px;
padding : 7px 0 0 0;
left:180px;
list-style : none;
text-align: center;
background : #242424;
border-radius: 0 0 10px 10px;
box-shadow: 10px 5px 5px #888888;

}
#menuu li {
float : left;
padding : 0 0 12px 0;
position : relative;
}
#menuu a {
float : center;
height : 30px;
padding : 0 25px;
text-transform : uppercase;
font : bold 12px/25px Arial;
text-decoration : none;
color : #fafafa;
}
#menuu li:hover > a {
color : #989898;
}
#menuu li:hover > ul {
display : block;
}
#menuu ul {
list-style : none;
margin : 0;
padding : 0;
display : none;
position : absolute;
top : 35px;
left : 0;
z-index : 99999;
background-color:#141414;
opacity:0.8;
border-radius: 10px;
}
#menuu ul li {
float : none;
margin : 0;
padding : 0;
display : block;
box-shadow : 0 1px 0, 0 2px 0 #C1C1C1;
}
#menuu ul li:last-child {
box-shadow : none;
}
#menuu ul a {
padding : 10px;
height : auto;
line-height : 1;
display : block;
white-space : nowrap;
float : none;
text-transform : none;
}
*:first-child + html #menuu ul a {
height : 10px;
width : 150px;
}
#menuu ul a:hover {
background : url("mb1.png");
}
#menuu ul li:first-child a {
}
#menuu ul li:first-child a:after {
content : '';
position : absolute;
left : 30px;
top : -8px;
width : 0;
height : 0;
border-left : 5px solid transparent;
border-right : 5px solid transparent;
border-bottom : 8px solid #191806;
}
#menuu ul li:first-child a:hover:after {
border-bottom-color : #dddddd;
}
#menuu ul li:last-child a {
border-radius: 0px 0px 10px 10px;
}
#menuu:after {
visibility : hidden;
display : block;
font-size : 0;
content : " ";
clear : both;
height : 0;
}

#menuaffi a:hover {
text-decoration : none;
text-align : center;
background-color: #233e6d;
color : #ffffff;
display : block;
width : 250px;
height : 20px;
padding : 0.7em;
margin : 0.5em auto;
}

